@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
   }

.bg-white {
    background-color: #F0F0F2 !important;
}

.nav-link {
    font-size: 175%;
}

.main-container {
    background-color: #304173;
    margin-top: 5vh;
}

.white-text {
    color: #F0F0F2;
}

.hero-image {
    background-image: url("/images/hero.jpg");
}

.btn-primary {
    background-color: #304173;
    padding: 20px 30px;
    font-size: 200%;
}

.btn-social-icon {
    font-size: 200%;
}

.copyright-text {
    padding-left: 30px;
    padding-top: 20px;
}

.content-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.history-img {
    width: 500px;
    height: 500px;
}

.fixed-bottom {
    border-top: 1px solid black;
}

.fixed-top {
    border-bottom: 1px solid black;
}

.form-container {
    margin-top: 15vh;
}

.fade {
    animation: fade 3s ease-out 1 both;
}

@media (max-width: 991.98px) {
    .main-container {
        margin-top: 10vh;
    }
    .copyright-text {
        padding-left: 20px;
        padding-top: 5px;
    }
    .form-container {
        margin-top: 5vh;
    }
 }

@keyframes fade{
    from{
        opacity: 0;
        transform: perspective(800px) translate3d(-30px, -35px, -145px) rotate3d(1, -1, 0, 40deg);
    }
    to{
        opacity: 1;
        transform: perspective(800px) translate3d(0, 0, 0);
    }
}